################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdministratorApplication/.vs/AdministratorApplication/FileContentIndex
/AdministratorApplication/.vs/AdministratorApplication/v17/.suo
/AdministratorApp/.vs/AdministratorApp/v17/.suo
/AdministratorApp/.vs/AdministratorApp/FileContentIndex
