################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdministratorApplication/.vs/AdministratorApplication/FileContentIndex
/AdministratorApplication/.vs/AdministratorApplication/v17/.suo
/AdministratorApp/.vs/AdministratorApp/v17/.suo
/AdministratorApp/.vs/AdministratorApp/FileContentIndex
/MobileApp/.vs/MobileApp/FileContentIndex/14d5dc0c-2728-4cb6-b28b-65529f22c97c.vsidx
/MobileApp/.vs/MobileApp/FileContentIndex/35f8297d-1a14-4b8e-84b7-983857a7d7c8.vsidx
*.vsidx
